<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="Css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>It's free and only takes a minute</h4>
      <form action="/signup" method="POST">
        <label>First Name</label>
        <input type="text" placeholder="" />
        <label>Last Name</label>
        <input type="text" placeholder="" />
        <label>Email</label>
        <input type="email" placeholder="" />
        <label>Password</label>
        <input type="password" placeholder="" />
        <label>Confirm Password</label>
        <input type="password" placeholder="" />
        <button type = submit>Submit</button>
        <input type="submit" value="Submit" />
      </form>
      <p>
        By clicking the Sign Up button,you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
      </p>
    </div>
    <p class="para-2">
      Already have an account? <a href="{{ url_for('login') }}">Login here</a>
    </p>
  </body>
</html>

Login HTML

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login- My webpage</title>
    <link rel="stylesheet" href="static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form action="/login" method="post">
        <label>Email</label>
        <input type="email" placeholder="" />
        <label>Password</label>
        <input type="password" placeholder="" />
        <input type="submit" value="Submit" />
      <closeform></closeform></form>
    </div>
    <p class="para-2">
      Not have an account? <a href="{{ url_for('signup') }}">Sign Up Here</a>
    </p>
  </body>
</html>





{% extends 'base.html' %}

{% block title %}Login - My Website{% endblock %}
{% block content %}
<form action="/login" method="post">
    <h1>Login Page</h1>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">password</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Login">
</form>
{% endblock %}

{% block user %}{{ username }}{% endblock %}




{% extends 'base.html' %}
{% block title %}Sign-Up - My Website{% endblock %}
{% block content %}
<form action="/signup" method="post">
    <h1>Sign-Up Page</h1>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">password</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="signup">
</form>
{% endblock %}

